$red-dark:           #F87171
$red-medium:         #FCA5A5
$red-light:          #F9A8D4
$grey-dark:          #111813
$grey-medium:        #4B5563
$grey-light:         #6B7280
$blue-dark:          #2563EB
$blue-medium:        #3B82F6
$blue-light:         #60A5FA
$purple-dark:        #4F46E5
$purple-medium:      #8B5CF6
$purple-light:       #818CF8
$green-dark:         #109E81
$green-medium:       #10B981
$green-light:        #34D399
$yellow-medium:      #FBBF24
$pure-white:         #FFFFFF


$bg-call-to-action:            #EFF6FF
$bg-call-to-action-hover:      #DBEAFE

$bg-submit-hover:              #109E81

$input-border-default:         #E5E5E5
$bg-input-error:               #FFD6D6

$form-notification:             #5D6175
